In [2]:
import pandas as pd
import glob

In [10]:
dfs = []

for f in glob.glob("**.log"):
    print(f"reading file {f}")
    dfs.append(pd.read_json(f, lines=True))

df:pd.DataFrame = pd.concat(dfs)
display(df.head())
print(len(df))

reading file 2023-06-17_07-14-04_232010_results.log
reading file 2023-06-21_17-43-45_419543_results.log
reading file 2023-06-21_17-43-01_446723_results.log
reading file 2023-06-17_07-14-04_403905_results.log
reading file 2023-06-21_17-43-01_881295_results.log
reading file 2023-06-17_07-14-04_149462_results.log
reading file gpu/2023-06-19_12-52-40_260589_results.log
reading file gpu/2023-06-17_07-08-00_251139_results.log

,dataset,join,operator,model,tuple_ratio,feature_ratio,cardinality_T,cardinality_S,complexity,selectivity,times,num_cores,data_characteristics,profile_times,times_std,times_mean
0,/user/data/generated/n_R=1-r_T=100000-c_T=50-r...,preset,Noop,materialized,11.73862,10.0,97666,97667,NaN,1.00001,"[1.393003913108259e-06, 6.920017767697573e-07,...",16,"{'r_T': 100000, 'c_T': 50, 'r_S': 90000, 'c_S'...",NaN,1.390462e-07,3.396902e-07
1,/user/data/generated/n_R=1-r_T=100000-c_T=50-r...,preset,Noop,factorized,11.73862,10.0,97666,97667,NaN,1.00001,"[5.209949449636042e-07, 3.710010787472129e-07,...",16,"{'r_T': 100000, 'c_T': 50, 'r_S': 90000, 'c_S'...",NaN,3.493327e-08,2.891196e-07
2,/user/data/generated/n_R=1-r_T=100000-c_T=50-r...,preset,Left multiply,materialized,11.73862,10.0,97666,97667,3715591.0,1.00001,"[0.003954858002543, 0.002927497997006, 0.00271...",16,"{'r_T': 100000, 'c_T': 50, 'r_S': 90000, 'c_S'...",NaN,1.895033e-04,2.728897e-03
3,/user/data/generated/n_R=1-r_T=100000-c_T=50-r...,preset,Left multiply,factorized,11.73862,10.0,97666,97667,751621.0,1.00001,"[0.0011783629961420001, 0.0010265680029980001,...",16,"{'r_T': 100000, 'c_T': 50, 'r_S': 90000, 'c_S'...",NaN,3.804681e-03,8.151018e-04
4,/user/data/generated/n_R=1-r_T=100000-c_T=50-r...,preset,Right multiply,materialized,11.73862,10.0,97666,97667,3715591.0,1.00001,"[0.0033751989976730005, 0.0032095380011010004,...",16,"{'r_T': 100000, 'c_T': 50, 'r_S': 90000, 'c_S'...",NaN,1.314690e-04,2.739361e-03

83728

In [11]:
# Drop kmeans fails.
df = df[~df.operator.apply(lambda x: "fail" in x)]

In [12]:
# Some checks
print(df.groupby('operator').count())

                     dataset  join  model  tuple_ratio  feature_ratio  \
operator
Column summation        4406  4406   4406         4406           4406
Column summation T      4406  4406   4406         4406           4406
Gaussian                4404  4404   4404         4404           4404
KMeans                  5617  5617   5617         5617           5617
LMM                     4406  4406   4406         4406           4406
LMM T                   4406  4406   4406         4406           4406
Left multiply           4406  4406   4406         4406           4406
Left multiply T         4406  4406   4406         4406           4406
Linear Regression       4405  4405   4405         4405           4405
Logistic Regression     4404  4404   4404         4404           4404
Materialization         4406  4406   4406         4406           4406
Noop                    4406  4406   4406         4406           4406
RMM                     4406  4406   4406         4406           4406
RMM T                   4406  4406   4406         4406           4406
Right multiply          4406  4406   4406         4406           4406
Right multiply T        4406  4406   4406         4406           4406
Row summation           4406  4406   4406         4406           4406
Row summation T         4406  4406   4406         4406           4406

                     cardinality_T  cardinality_S  complexity  selectivity  \
operator
Column summation              4406           4406        4406         4406
Column summation T            4406           4406        4406         4406
Gaussian                      4404           4404        4404         4404
KMeans                        5617           5617        5617         5617
LMM                           4406           4406        4406         4406
LMM T                         4406           4406        4406         4406
Left multiply                 4406           4406        4406         4406
Left multiply T               4406           4406        4406         4406
Linear Regression             4405           4405        4405         4405
Logistic Regression           4404           4404        4404         4404
Materialization               4406           4406           0         4406
Noop                          4406           4406           0         4406
RMM                           4406           4406        4406         4406
RMM T                         4406           4406        4406         4406
Right multiply                4406           4406        4406         4406
Right multiply T              4406           4406        4406         4406
Row summation                 4406           4406        4406         4406
Row summation T               4406           4406        4406         4406

                     times  num_cores  data_characteristics  profile_times  \
operator
Column summation      4406       4406                  4406              0
Column summation T    4406       4406                  4406              0
Gaussian              4404       4404                  4404              0
KMeans                5617       5617                  5617              0
LMM                   4406       4406                  4406              0
LMM T                 4406       4406                  4406              0
Left multiply         4406       4406                  4406              0
Left multiply T       4406       4406                  4406              0
Linear Regression     4405       4405                  4405              0
Logistic Regression   4404       4404                  4404              0
Materialization       4406       4406                  4406              0
Noop                  4406       4406                  4406              0
RMM                   4406       4406                  4406              0
RMM T                 4406       4406                  4406              0
Right multiply        4406       4406                  4406              0
Right multiply T      4406       4406                  4406              0
Row summation         4406       4406                  4406              0
Row summation T       4406       4406                  4406              0

                     times_std  times_mean
operator
Column summation          4406        4406
Column summation T        4406        4406
Gaussian                  4404        4404
KMeans                    5617        5617
LMM                       4406        4406
LMM T                     4406        4406
Left multiply             4406        4406
Left multiply T           4406        4406
Linear Regression         4405        4405
Logistic Regression       4404        4404
Materialization           4406        4406
Noop                      4406        4406
RMM                       4406        4406
RMM T                     4406        4406
Right multiply            4406        4406
Right multiply T          4406        4406
Row summation             4406        4406
Row summation T           4406        4406

In [13]:
df.to_parquet("sigmod_merged.parquet")